rag chatbot.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "14ArBLbwrQzQl5aFYqCFFGGwtYt1LN5HQ",
          "mode": "list",
          "cachedResultName": "Resume",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14ArBLbwrQzQl5aFYqCFFGGwtYt1LN5HQ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "beb688e4-341e-4f78-82fa-b3061a37db31",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1PySlgshV6Tsm3PJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "2df6380e-034f-43a8-bf1f-9f6141cb7334",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1PySlgshV6Tsm3PJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "embeddings1",
          "mode": "list",
          "cachedResultName": "embeddings1"
        },
        "options": {
          "pineconeNamespace": "trip"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        0
      ],
      "id": "8406ee55-e751-47dd-916a-0e5b95b536f1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "8Dge56IzfQf52UUz",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        448,
        224
      ],
      "id": "806a1288-34db-4d3f-bf3d-afd7d4250c72",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "JZ0NpeqFvUk1jdVU",
          "name": "Azure Open AI account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        224
      ],
      "id": "72d2a45f-b580-4297-a6df-befd60fe1f0d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        432
      ],
      "id": "2396521a-1d11-490f-9e6f-cbdc11ec739f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1216,
        48
      ],
      "id": "427f1f27-27c4-4725-a8ab-53abfa3020fe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1200,
        416
      ],
      "id": "e920097a-638c-4358-b63a-aa7c9094ef5e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "lhN3cEiFu4dlLI0e",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        1024,
        48
      ],
      "id": "4f0cd4da-2794-4061-960c-8f7263d50132",
      "name": "When chat message received",
      "webhookId": "6357f31a-360b-48a5-a18e-a493533aa560"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access the resume.",
        "pineconeIndex": {
          "__rl": true,
          "value": "embeddings1",
          "mode": "list",
          "cachedResultName": "embeddings1"
        },
        "options": {
          "pineconeNamespace": "trip"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1312,
        384
      ],
      "id": "80a352fc-e21b-4a9c-a17e-0a3b89199ce4",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "8Dge56IzfQf52UUz",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1312,
        544
      ],
      "id": "72a529b7-c292-4888-9656-d8674222c527",
      "name": "Embeddings Azure OpenAI1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "JZ0NpeqFvUk1jdVU",
          "name": "Azure Open AI account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d1c4212e-816c-4635-b6c1-540f1550c7c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb91f2eaaa19733c8012dbbd15e92c615a50571410f09dcdf59f8606aa326c58"
  },
  "id": "o3V75Qddwa3MzdcE",
  "tags": []
}